<a href="https://colab.research.google.com/github/Victory567/lab-feature-engineering/blob/master/Untitled_(14).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import datetime
import warnings
import matplotlib.pyplot as plt
import seaborn as sns

warnings.filterwarnings('ignore')

In [ ]:
data = pd.read_csv('learningSet.csv')
numerical = pd.read_csv('numerical.csv')
categorical = pd.read_csv('categorical.csv')
targets = pd.read_csv('target.csv')

In [ ]:
data.shape

(95412, 481)

In [ ]:
data.describe()

,ODATEDW,TCODE,DOB,AGE,NUMCHLD,INCOME,WEALTH1,HIT,MBCRAFT,MBGARDEN,...,FISTDATE,NEXTDATE,TIMELAG,AVGGIFT,CONTROLN,TARGET_B,TARGET_D,HPHONE_D,RFA_2F,CLUSTER2
count,95412.000000,95412.000000,95412.000000,71747.000000,12386.000000,74126.000000,50680.000000,95412.000000,42558.000000,42558.000000,...,95412.000000,85439.000000,85439.000000,95412.000000,95412.000000,95412.000000,95412.000000,95412.000000,95412.000000,95280.000000
mean,9141.363256,54.223117,2723.602933,61.611649,1.527773,3.886248,5.345699,3.321438,0.152075,0.059166,...,9135.651648,9151.022917,8.093739,13.347786,95778.176959,0.050759,0.793073,0.500618,1.910053,31.533711
std,343.454752,953.844476,2132.241295,16.664199,0.806861,1.854960,2.742490,9.306899,0.470023,0.262078,...,320.394019,294.257260,8.213242,10.769997,55284.596094,0.219506,4.429725,0.500002,1.072749,18.764614
min,8306.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,7211.000000,0.000000,1.285714,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000
25%,8801.000000,0.000000,201.000000,48.000000,1.000000,2.000000,3.000000,0.000000,0.000000,0.000000,...,8810.000000,8903.000000,4.000000,8.384615,47910.750000,0.000000,0.000000,0.000000,1.000000,15.000000
50%,9201.000000,1.000000,2610.000000,62.000000,1.000000,4.000000,6.000000,0.000000,0.000000,0.000000,...,9201.000000,9204.000000,6.000000,11.636364,95681.500000,0.000000,0.000000,1.000000,2.000000,32.000000
75%,9501.000000,2.000000,4601.000000,75.000000,2.000000,5.000000,8.000000,3.000000,0.000000,0.000000,...,9409.000000,9409.000000,11.000000,15.477955,143643.500000,0.000000,0.000000,1.000000,3.000000,49.000000
max,9701.000000,72002.000000,9710.000000,98.000000,7.000000,7.000000,9.000000,241.000000,6.000000,4.000000,...,9603.000000,9702.000000,1088.000000,1000.000000,191779.000000,1.000000,200.000000,1.000000,4.000000,62.000000

In [ ]:
pip install perfplot

Requirement already satisfied: perfplot in c:\users\dell\anaconda3\lib\site-packages (0.10.2)
Requirement already satisfied: rich in c:\users\dell\anaconda3\lib\site-packages (from perfplot) (13.3.1)
Requirement already satisfied: matplotx in c:\users\dell\anaconda3\lib\site-packages (from perfplot) (0.3.10)
Requirement already satisfied: numpy in c:\users\dell\anaconda3\lib\site-packages (from perfplot) (1.21.5)
Requirement already satisfied: matplotlib in c:\users\dell\anaconda3\lib\site-packages (from perfplot) (3.5.1)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib->perfplot) (3.0.4)
Requirement already satisfied: packaging>=20.0 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib->perfplot) (21.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib->perfplot) (2.8.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib->perfplot) (4.25.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib->perfplot) (9.0.1)
Requirement already satisfied: cycler>=0.10 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib->perfplot) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib->perfplot) (1.3.2)
Requirement already satisfied: six>=1.5 in c:\users\dell\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib->perfplot) (1.16.0)
Requirement already satisfied: markdown-it-py<3.0.0,>=2.1.0 in c:\users\dell\anaconda3\lib\site-packages (from rich->perfplot) (2.1.0)
Requirement already satisfied: pygments<3.0.0,>=2.14.0 in c:\users\dell\anaconda3\lib\site-packages (from rich->perfplot) (2.14.0)
Requirement already satisfied: mdurl~=0.1 in c:\users\dell\anaconda3\lib\site-packages (from markdown-it-py<3.0.0,>=2.1.0->rich->perfplot) (0.1.2)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import numpy as np
import pandas as pd
import perfplot


def setup(n):
    df = pd.DataFrame(np.random.randn(n))
    df[df > 0.9] = np.nan
    return df


def isnull_any(df):
    return df.isnull().any()


def isnull_values_sum(df):
    return df.isnull().values.sum() > 0


def isnull_sum(df):
    return df.isnull().sum() > 0


def isnull_values_any(df):
    return df.isnull().values.any()


perfplot.save(
    "out.png",
    setup=setup,
    kernels=[isnull_any, isnull_values_sum, isnull_sum, isnull_values_any],
    n_range=[2 ** k for k in range(25)],
)

Output()

In [ ]:
numerical.info

<bound method DataFrame.info of        TCODE        AGE  INCOME  WEALTH1  HIT  MALEMILI  MALEVET  VIETVETS  \
0          0  60.000000       5        9    0         0       39        34
1          1  46.000000       6        9   16         0       15        55
2          1  61.611649       3        1    2         0       20        29
3          0  70.000000       1        4    2         0       23        14
4          0  78.000000       3        2   60         1       28         9
...      ...        ...     ...      ...  ...       ...      ...       ...
95407      1  61.611649       5        9    0        14       36        47
95408      1  48.000000       7        9    1         0       31        43
95409      1  60.000000       5        9    0         0       18        46
95410      0  58.000000       7        9    0         0       28        35
95411      2  80.000000       5        8    3         1       33        22

       WWIIVETS  LOCALGOV  ...  CARDGIFT  MINRAMNT  MAXRAMNT  LASTGIFT  \
0            18        10  ...        14       5.0      12.0      10.0
1            11         6  ...         1      10.0      25.0      25.0
2            33         6  ...        14       2.0      16.0       5.0
3            31         3  ...         7       2.0      11.0      10.0
4            53        26  ...         8       3.0      15.0      15.0
...         ...       ...  ...       ...       ...       ...       ...
95407        11         7  ...         0      25.0      25.0      25.0
95408        19         4  ...         0      20.0      20.0      20.0
95409        20         7  ...         4       3.0      10.0      10.0
95410        20         9  ...        18       5.0      21.0      18.0
95411        27         8  ...        11      10.0     201.0     100.0

       TIMELAG    AVGGIFT  CONTROLN  HPHONE_D  RFA_2F  CLUSTER2
0            4   7.741935     95515         0       4        39
1           18  15.666667    148535         0       2         1
2           12   7.481481     15078         1       4        60
3            9   6.812500    172556         1       4        41
4           14   6.864865      7112         1       2        26
...        ...        ...       ...       ...     ...       ...
95407        9  25.000000    184568         0       1        12
95408        9  20.000000    122706         1       1         2
95409        3   8.285714    189641         1       3        34
95410        4  12.146341      4693         1       4        11
95411        6  96.794872    185114         1       1        12

[95412 rows x 315 columns]>

In [ ]:
data['WEALTH1'].isnull().values.any()

True

In [ ]:
data['GEOCODE2'].isnull().values.any()

True

In [ ]:
data['ADI'].isnull().values.any()

True

In [ ]:
dfresult = data.dropna(subset=['GEOCODE2'])
print(dfresult)

       ODATEDW OSOURCE  TCODE STATE    ZIP MAILCODE PVASTATE   DOB NOEXCH  \
0         8901     GRI      0    IL  61081                    3712      0
1         9401     BOA      1    CA  91326                    5202      0
2         9001     AMH      1    NC  27017                       0      0
3         8701     BRY      0    CA  95953                    2801      0
4         8601              0    FL  33176                    2001      0
...        ...     ...    ...   ...    ...      ...      ...   ...    ...
95407     9601     ASE      1    AK  99504                       0      0
95408     9601     DCD      1    TX  77379                    5001      0
95409     9501     MBC      1    MI  48910                    3801      0
95410     8601     PRV      0    CA  91320                    4005      0
95411     8801     MCC      2    NC  28409                    1801      0

      RECINHSE  ... TARGET_D HPHONE_D RFA_2R RFA_2F RFA_2A MDMAUD_R  MDMAUD_F  \
0               ...      0.0        0      L      4      E        X         X
1               ...      0.0        0      L      2      G        X         X
2               ...      0.0        1      L      4      E        X         X
3               ...      0.0        1      L      4      E        X         X
4            X  ...      0.0        1      L      2      F        X         X
...        ...  ...      ...      ...    ...    ...    ...      ...       ...
95407           ...      0.0        0      L      1      G        X         X
95408           ...      0.0        1      L      1      F        X         X
95409           ...      0.0        1      L      3      E        X         X
95410        X  ...     18.0        1      L      4      F        X         X
95411        X  ...      0.0        1      L      1      G        C         1

      MDMAUD_A CLUSTER2 GEOCODE2
0            X     39.0        C
1            X      1.0        A
2            X     60.0        C
3            X     41.0        C
4            X     26.0        A
...        ...      ...      ...
95407        X     12.0        C
95408        X      2.0        A
95409        X     34.0        B
95410        X     11.0        A
95411        C     12.0        C

[95280 rows x 481 columns]

In [ ]:
dfresult = data.dropna(subset=['WEALTH1'])
print(dfresult)

       ODATEDW OSOURCE  TCODE STATE     ZIP MAILCODE PVASTATE   DOB NOEXCH  \
1         9401     BOA      1    CA   91326                    5202      0
2         9001     AMH      1    NC   27017                       0      0
3         8701     BRY      0    CA   95953                    2801      0
4         8601              0    FL   33176                    2001      0
6         8701     DRK      0    IN   46755                    6001      0
...        ...     ...    ...   ...     ...      ...      ...   ...    ...
95400     8801     DNA      2    FL   33157                    1201      0
95401     9401     HHH     28    LA   70806                    2801      0
95406     9001     LHJ      0    FL  32776-                    4803      0
95408     9601     DCD      1    TX   77379                    5001      0
95411     8801     MCC      2    NC   28409                    1801      0

      RECINHSE  ... TARGET_D HPHONE_D RFA_2R RFA_2F RFA_2A MDMAUD_R  MDMAUD_F  \
1               ...      0.0        0      L      2      G        X         X
2               ...      0.0        1      L      4      E        X         X
3               ...      0.0        1      L      4      E        X         X
4            X  ...      0.0        1      L      2      F        X         X
6               ...      0.0        1      L      1      E        X         X
...        ...  ...      ...      ...    ...    ...    ...      ...       ...
95400           ...      0.0        1      L      1      F        X         X
95401           ...      0.0        1      L      1      F        X         X
95406           ...      0.0        0      L      4      D        X         X
95408           ...      0.0        1      L      1      F        X         X
95411        X  ...      0.0        1      L      1      G        C         1

      MDMAUD_A CLUSTER2 GEOCODE2
1            X      1.0        A
2            X     60.0        C
3            X     41.0        C
4            X     26.0        A
6            X     53.0        D
...        ...      ...      ...
95400        X      4.0        A
95401        X     32.0        B
95406        X     43.0        C
95408        X      2.0        A
95411        C     12.0        C

[50680 rows x 481 columns]

In [ ]:
dfresult = data.dropna(subset=['ADI'])
print(dfresult)

       ODATEDW OSOURCE  TCODE STATE    ZIP MAILCODE PVASTATE   DOB NOEXCH  \
0         8901     GRI      0    IL  61081                    3712      0
1         9401     BOA      1    CA  91326                    5202      0
2         9001     AMH      1    NC  27017                       0      0
3         8701     BRY      0    CA  95953                    2801      0
4         8601              0    FL  33176                    2001      0
...        ...     ...    ...   ...    ...      ...      ...   ...    ...
95407     9601     ASE      1    AK  99504                       0      0
95408     9601     DCD      1    TX  77379                    5001      0
95409     9501     MBC      1    MI  48910                    3801      0
95410     8601     PRV      0    CA  91320                    4005      0
95411     8801     MCC      2    NC  28409                    1801      0

      RECINHSE  ... TARGET_D HPHONE_D RFA_2R RFA_2F RFA_2A MDMAUD_R  MDMAUD_F  \
0               ...      0.0        0      L      4      E        X         X
1               ...      0.0        0      L      2      G        X         X
2               ...      0.0        1      L      4      E        X         X
3               ...      0.0        1      L      4      E        X         X
4            X  ...      0.0        1      L      2      F        X         X
...        ...  ...      ...      ...    ...    ...    ...      ...       ...
95407           ...      0.0        0      L      1      G        X         X
95408           ...      0.0        1      L      1      F        X         X
95409           ...      0.0        1      L      3      E        X         X
95410        X  ...     18.0        1      L      4      F        X         X
95411        X  ...      0.0        1      L      1      G        C         1

      MDMAUD_A CLUSTER2 GEOCODE2
0            X     39.0        C
1            X      1.0        A
2            X     60.0        C
3            X     41.0        C
4            X     26.0        A
...        ...      ...      ...
95407        X     12.0        C
95408        X      2.0        A
95409        X     34.0        B
95410        X     11.0        A
95411        C     12.0        C

[95280 rows x 481 columns]

In [ ]:
dfresult = data.dropna(subset=['DMA'])
print(dfresult)

       ODATEDW OSOURCE  TCODE STATE    ZIP MAILCODE PVASTATE   DOB NOEXCH  \
0         8901     GRI      0    IL  61081                    3712      0
1         9401     BOA      1    CA  91326                    5202      0
2         9001     AMH      1    NC  27017                       0      0
3         8701     BRY      0    CA  95953                    2801      0
4         8601              0    FL  33176                    2001      0
...        ...     ...    ...   ...    ...      ...      ...   ...    ...
95407     9601     ASE      1    AK  99504                       0      0
95408     9601     DCD      1    TX  77379                    5001      0
95409     9501     MBC      1    MI  48910                    3801      0
95410     8601     PRV      0    CA  91320                    4005      0
95411     8801     MCC      2    NC  28409                    1801      0

      RECINHSE  ... TARGET_D HPHONE_D RFA_2R RFA_2F RFA_2A MDMAUD_R  MDMAUD_F  \
0               ...      0.0        0      L      4      E        X         X
1               ...      0.0        0      L      2      G        X         X
2               ...      0.0        1      L      4      E        X         X
3               ...      0.0        1      L      4      E        X         X
4            X  ...      0.0        1      L      2      F        X         X
...        ...  ...      ...      ...    ...    ...    ...      ...       ...
95407           ...      0.0        0      L      1      G        X         X
95408           ...      0.0        1      L      1      F        X         X
95409           ...      0.0        1      L      3      E        X         X
95410        X  ...     18.0        1      L      4      F        X         X
95411        X  ...      0.0        1      L      1      G        C         1

      MDMAUD_A CLUSTER2 GEOCODE2
0            X     39.0        C
1            X      1.0        A
2            X     60.0        C
3            X     41.0        C
4            X     26.0        A
...        ...      ...      ...
95407        X     12.0        C
95408        X      2.0        A
95409        X     34.0        B
95410        X     11.0        A
95411        C     12.0        C

[95280 rows x 481 columns]

In [ ]:
dfresult = data.dropna(subset=['MSA'])
print(dfresult)

       ODATEDW OSOURCE  TCODE STATE    ZIP MAILCODE PVASTATE   DOB NOEXCH  \
0         8901     GRI      0    IL  61081                    3712      0
1         9401     BOA      1    CA  91326                    5202      0
2         9001     AMH      1    NC  27017                       0      0
3         8701     BRY      0    CA  95953                    2801      0
4         8601              0    FL  33176                    2001      0
...        ...     ...    ...   ...    ...      ...      ...   ...    ...
95407     9601     ASE      1    AK  99504                       0      0
95408     9601     DCD      1    TX  77379                    5001      0
95409     9501     MBC      1    MI  48910                    3801      0
95410     8601     PRV      0    CA  91320                    4005      0
95411     8801     MCC      2    NC  28409                    1801      0

      RECINHSE  ... TARGET_D HPHONE_D RFA_2R RFA_2F RFA_2A MDMAUD_R  MDMAUD_F  \
0               ...      0.0        0      L      4      E        X         X
1               ...      0.0        0      L      2      G        X         X
2               ...      0.0        1      L      4      E        X         X
3               ...      0.0        1      L      4      E        X         X
4            X  ...      0.0        1      L      2      F        X         X
...        ...  ...      ...      ...    ...    ...    ...      ...       ...
95407           ...      0.0        0      L      1      G        X         X
95408           ...      0.0        1      L      1      F        X         X
95409           ...      0.0        1      L      3      E        X         X
95410        X  ...     18.0        1      L      4      F        X         X
95411        X  ...      0.0        1      L      1      G        C         1

      MDMAUD_A CLUSTER2 GEOCODE2
0            X     39.0        C
1            X      1.0        A
2            X     60.0        C
3            X     41.0        C
4            X     26.0        A
...        ...      ...      ...
95407        X     12.0        C
95408        X      2.0        A
95409        X     34.0        B
95410        X     11.0        A
95411        C     12.0        C

[95280 rows x 481 columns]

In [ ]:
targets.merge(numerical, left_index=True, right_index=True).corr()['TARGET_D'].sort_values(ascending=False)

TARGET_D    1.000000
TARGET_B    0.774232
LASTGIFT    0.061678
RAMNTALL    0.044810
AVGGIFT     0.044299
              ...
IC6        -0.023673
POBC2      -0.024375
IC15       -0.025528
EC4        -0.026064
CLUSTER2   -0.029085
Name: TARGET_D, Length: 317, dtype: float64